

.container-all{
    position: absolute;
    top: 90px;
      
  }

.text-all-container{
    top: 85px;
    padding-left: 40px;
    position: relative;
    color: aliceblue;
  }
  
  .logo-container{
    /* position: relative; */
    /* text-align: center; */
  }
  
  .image-logo{
    width: 100%; 
    height: 400px; 
  }
  
.texto-en-imagen-superior{
    font-family: "Anton";
    font-size: 2vw;
  }
  .texto-en-imagen-medio{
    font-family: "Bebas";
    font-size: 35px;
  }
  .texto-en-imagen-superior {
    font-family: "Anton";
    font-size: 35px;
  }
  .texto-adicional{
    font-family: "Permanent";
    font-size: 35px;
    
  }
  .image-logo-arriba {
  }
  .image-logo-arriba img{
      width: 450px;
      height: 450px;
  }

  .buttons-section{
    padding-left: 5%;
    
  }
  .buttons-section .learn-more {
    width: 220px;
  }

  .buttons-section .read-more {
    width: 220px;
  }

  
  
  
  @media screen and (max-width: 767px) {
    .texto-en-imagen-inferior{
      font-family: "Fascinate";
      font-size: 40px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .texto-en-imagen-inferior{
      font-family: "Fascinate";
      font-size: 40px;
    }
  }

  @media screen and (min-width: 992px) {
    .texto-en-imagen-inferior{
      font-family: "Fascinate";
      font-size: 40px;
    }
  }

  @media screen and (min-width: 1200px) {
    .texto-en-imagen-inferior{
      font-family: "Fascinate";
      font-size: 40px;
    }
  }

  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    .texto-en-imagen-inferior{
      font-family: "Fascinate";
      font-size: 80px;;
    }
  }